<h1>{{tortilla.name}}</h1>
<p>Special ingredient (if any): {{tortilla.special}}</p>
<p>Size: {{tortilla.size}}</p>
<p>Created by: {{tortilla.creator.username}}</p>

{{#if isCreator}}
<a href="/tortillas/{{tortilla._id}}/edit">Editar Tortilla</a>
<form action="/tortillas/{{tortilla._id}}/delete" method="POST">
  <button type="submit">Borrar tortilla</button>
</form>
{{/if }}